  body{
     font-family: 'Slabo 27px', serif;
  }
  input[type="text"]{
    color:white;
  }
  .field-wrap label{
    
    font-weight:400;
  }
  .checkbox{
    width:20%;
  }
  #inputEmail3{
    color:black;
  }
  .navigbar{
    z-index:999 ;
  }